.columns > div {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div:first-child {
  margin-top: 0;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 768px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns p + p {
  margin-top: 20px;
}

.columns-wrapper {
  margin-bottom: 20px;
}
