main .hero-container {
  padding: 0;
}

main .hero-wrapper {
  max-width: unset;
  padding: 0;
}
  
main .hero {
  position: relative;
  padding: 100px 0;
}

main .hero > div {
  max-width: var(--page-max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  main .hero > div {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1200px) {
  main .hero > div {
    padding-left: 55px;
    padding-right: 55px;
  }
}

main .hero > div > div {
  max-width: 50%;
  padding-right: 15px;
}

main .hero h1 {
  color: var(--text-color-white);
  margin-bottom: 0;
  padding-bottom: 45px;
}

main .hero picture {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  box-sizing: border-box;
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
